@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Forced Light Theme Tokens */
  --bg-main: #ffffff;
  --bg-sec: #f4f4f5; /* Zinc-100 */
  --text-main: #18181b; /* Zinc-900 */
  --text-sec: #71717a; /* Zinc-500 */
  --border: #e4e4e7; /* Zinc-200 */
  --border-focus: #18181b; /* Zinc-900 */
  --accent: #18181b; /* Black accent for high contrast technical look */
  --accent-text: #ffffff;
  --success: #10b981; /* Emerald-500 */
  --code-bg: #f4f4f5;
}

body {
  @apply bg-bg-main text-text-main font-mono transition-colors duration-300;
}

/* Fix for Syntax Highlighting with Typography */
.prose pre {
  background-color: var(--code-bg) !important;
  color: var(--text-main) !important;
  border: 1px solid var(--border);
}

.prose code {
  color: var(--accent);
  background-color: transparent;
}

.prose pre code {
  color: inherit;
  background-color: transparent;
}
